#Incentive_block_06 {
    z-index: 2;
    margin-bottom: 3vw;
    & .block_header {}

    & .map_hotspot {
        width: 83.33vw;
        display: flex;
        justify-content: center;
        position: relative;

        & .map_world {
            width: 100%;
        }

        & .targets {
            & .country {
                & * {
                    transition: all 0.3s;
                }

                & .country_box {
                    opacity: 0;
                    z-index: -1;
                    height: 6.5vw;
                    position: absolute;
                    width: fit-content;
                    align-items: flex-end;

                    & .line_info {
                        width: 2px;
                        height: 1vw;
                        background-color: $white-color;
                    }

                    & .country_info {
                        height: 100%;
                    }
                }

                &:hover {
                    & img {
                        filter: brightness(1);
                    }
                }

                &:hover {
                    & .country_box {
                        opacity: 1;
                        z-index: 1;

                        & .line_info {
                            width: 2px;
                            height: 6.5vw;
                        }
                    }
                }
            }

            & .tunisia {
                & img {
                    position: absolute;
                    top: 9.2vw;
                    left: 40.7vw;
                    width: 1vw;
                    filter: brightness(0.5);
                    transition: all 0.3s;
                    cursor: pointer;
                }

                & .country_box {
                    left: 41.1vw;
                    top: 2.5vw;
                }
            }

            & .canada {
                & img {
                    position: absolute;
                    top: 8vw;
                    left: 6.7vw;
                    width: 14.8vw;
                    filter: brightness(0.5);
                    transition: all 0.3s;
                    cursor: pointer;

                }

                & .country_box {
                    left: 12.1vw;
                    top: 1.8vw;
                }
            }


            & .belgium {
                & img {
                    position: absolute;
                    top: 6vw;
                    left: 40.3vw;
                    width: 2vw;
                    filter: brightness(0.5);
                    transition: all 0.3s;
                    cursor: pointer;

                }

                & .country_box {
                    left: 41.1vw;
                    top: -0.8vw;
                }
            }

        }
    }
}