#Incentive_block_05 {
    margin-bottom: 2vw;

    & .block_header {
        margin-left: auto;
    }

    & .Team_listing {
        display: grid;
        // gap: 0 100px;

        & .card_user {
            overflow: hidden;
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            & .card_img {
                width: 100%;

                & img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    filter: grayscale(1);
                    transition: all 0.3s;
                }
            }

            & .card_info {
                width: 100%;
                background-color: $background_bleu;
                border-radius: 20px;
                z-index: 2;
                justify-content: center;

            }

            &:hover {
                & img {
                    filter: grayscale(0);
                    transform: translateY(3vw);
                }
            }
        }

    }

    // Desktop
    @media (min-width: 992px) {
        & .block_header {
            max-width: 45.56vw;
            margin-left: auto;
        }

        & .Team_listing {
            grid-template-columns: repeat(3, 1fr);
            gap: 0 100px;
            // margin-bottom: -17vw;

            & .card_user {

                & .card_img {
                    height: 30.56vw;

                    & img {
                        max-height: 30.28vw;
                        transform: translateY(4vw);
                    }
                }

                & .card_info {
                    height: 11.8vw;

                }

                &:nth-of-type(3n) {
                    margin-bottom: -15vw;
                }

                &:nth-of-type(3n + 1),
                &:nth-of-type(3n + 1) {
                    margin-top: -15vw;
                    margin-bottom: 15vw;
                }
            }

        }

    }

    & .load-more-button {
        padding-top: 3%;
        margin: 0 auto;
    }

    //Tablet & Mobile =>
    @media (max-width: 992px) {
        margin-top: 50px;
        gap: 50px;

        & .Team_listing {
            gap: 50px;

            & .card_info {
                padding-top: 20px;
                padding-bottom: 20px;
            }

            & .card_img {
                max-height: 350px;

                & img {

                    object-fit: contain;
                    filter: grayscale(1);
                    transition: all 0.3s;
                }
            }
        }
    }

    //Tablet =>
    @media (min-width: 768px) and (max-width: 991px) {}

    //Mobile =>
    @media (max-width: 767px) {}
}