#Contact_footer {
    background-image: url("https://i.postimg.cc/BQP95xhK/Contact-footer-bk-online.jpg");
    background-size: cover;
    padding-top: 23.6vw;
    padding-bottom: 3vw;
    margin-top: -23.4vw;

    & .p60 {
        max-width: 65vw;
    }

    & .wrapper {
        justify-content: space-between;
        padding-bottom: 0 !important;

        & .form_section {
            // width: 37.5vw;

            & div {
                width: 100%;
            }

            & .form {
                &::placeholder {
                    color: $white-color !important;
                }

                & label {
                    display: none !important;
                }

                & .frm_fields_container {
                    gap: $s40-desktop;

                    & input,
                    textarea {
                        background-color: transparent !important;
                        border-bottom: solid $white-color !important;
                        border-width: 0 0 1px 0;
                        border-radius: unset !important;
                        width: 100%;
                        box-shadow: unset !important;
                        color: $white-color !important;

                    }
                }

                & .frm_button_submit {
                    box-shadow: unset !important;
                    background-color: transparent !important;
                    color: $white-color !important;
                    border: 1px solid $bleu-color !important;
                    transition: all 0.3s;
                    font-weight: bold;
                    text-transform: uppercase;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &:hover {
                        background-color: $bleu-color !important;
                    }
                }
            }
        }


    }

    // Desktop
    @media (min-width: 992px) {
        & .form_section {
            width: 37.5vw;

            & .frm_fields_container {
                gap: $s40-desktop;

                & input,
                textarea {
                    height: 4.13vw !important;
                    padding: $s5-desktop !important;
                    font-size: $p21 !important;


                }

                textarea {
                    min-height: 4.13vw !important;


                }

                & .frm_button_submit {
                    width: 13.33vw !important;
                    padding: $s10-desktop $s40-desktop !important;
                    font-size: $p14 !important;
                }
            }
        }

        & .telegram_element {
            width: 25vw;
            margin: unset !important;
        }
    }

    //Tablet & Mobile =>
    @media (max-width: 992px) {
        & .form_section {
            gap: 40px !important;
        }

        & .telegram_element {
            position: absolute;
            bottom: 50px;
            right: 100px;
        }
    }

    //Tablet =>
    @media (min-width: 768px) and (max-width: 991px) {}

    //Mobile =>
    @media (max-width: 767px) {}
}