#Contact_footer {
    background-image: url("https://i.postimg.cc/BQP95xhK/Contact-footer-bk-online.jpg");
    background-size: cover;
    padding-top: 23.6vw;
    padding-bottom: 3vw;
    margin-top: -23.4vw;

    & .p60 {
        max-width: 65vw;
    }

    & .wrapper {
        justify-content: space-between;
        padding-bottom: 0 !important;

        & .form_section {
            width: 37.5vw;

            & div {
                width: 100%;
            }

            & .form {
                &::placeholder {
                    color: $white-color !important;
                }

                & label {
                    display: none !important;
                }

                & .frm_fields_container {
                    display: flex;
                    flex-direction: column;
                    gap: $s40-desktop;

                    & input,
                    textarea {
                        background-color: transparent !important;
                        border-bottom: solid $white-color !important;
                        border-width: 0 0 1px 0;
                        font-size: $p21 !important;
                        padding: $s5-desktop !important;
                        border-radius: unset !important;
                        width: 100%;
                        box-shadow: unset !important;
                        color: $white-color !important;

                    }

                    & input {
                        height: 4.13vw !important;
                    }

                    textarea {
                        min-height: 4.13vw !important;
                        max-height: 12vw !important;
                    }
                }

                & .frm_button_submit {
                    box-shadow: unset !important;
                    padding: $s10-desktop $s40-desktop !important;
                    background-color: transparent !important;
                    color: $white-color !important;
                    border: 1px solid $bleu-color !important;
                    transition: all 0.3s;
                    font-size: $p14 !important;
                    font-weight: bold;
                    text-transform: uppercase;
                    width: 13.33vw !important;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &:hover {
                        background-color: $bleu-color !important;
                    }
                }
            }
        }

        & .telegram_element {
            width: 25vw;
            margin: unset !important;

            // & .circle {
            //     height: 100px !important;
            //     width: 100px !important;
            // }
        }
    }
}