#Prefooter {
    padding-top: 8.51vw;
    padding-bottom: 8.51vw;
    overflow: hidden;
    align-items: center;
    justify-content: space-around;
    position: relative;

    & .bk_block {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
        object-fit: cover;
    }

    & .left_block {
        z-index: 2;
        // gap: 5.56vw;

        & .block_title {
            // max-width: 22.22vw;
        }

        & .block_description {
            // max-width: 32.22vw;

            & .light_btn {
                & img {
                    // width: 2.43vw;
                }
            }
        }
    }



    & .block_element {
        display: flex;
        flex: 1;
    }

    // Desktop
    @media (min-width: 992px) {

        & .left_block {
            gap: 5.56vw;

            & .block_title {
                max-width: 22.22vw;
            }

            & .block_description {
                max-width: 32.22vw;

                & .light_btn {
                    & img {
                        width: 2.43vw;
                    }
                }
            }
        }
    }

    //Tablet & Mobile =>
    @media (max-width: 992px) {
        padding-bottom: 16vw !important;
        gap: 40px;

        & .left_block {
            gap: 40px;
        }
    }

    //Tablet =>
    @media (min-width: 768px) and (max-width: 991px) {}

    //Mobile =>
    @media (max-width: 767px) {}

}