// //Colors 
// $primary-color: #5B5C2C;
// $secondary-color: #93931A;
// $yellow-color: #D6DA21;
$bleu-color: #00B7E9;
$black-color: #141414;
$black02-color: #141414;
$white-color : #F9F9F9;
$background_bleu: #004654;

.bleu {
    color: $bleu-color;
}

.white {
    color: $white-color;
}

.black {
    color: $black-color;
}