.btn_light {
  width: fit-content;

  & p {
    width: fit-content;
    color: $white-color;
    border: $px_1 solid $bleu-color;
    padding: 0.69vw 3.82vw;
    border-radius: $s5-desktop;
    font-weight: $w-900;
    position: relative;
    overflow: hidden;
    z-index: 1;

    &::after {
      transition: all 0.3s ease-in-out;
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0%;
      background-color: $bleu-color;
      z-index: -1;
    }

    &:hover {
      &::after {
        height: 100%;
      }
    }
  }

  //Tablet & Mobile =>
  @media (max-width: 992px) {
    & p {
      height: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.jc {
  justify-content: center;
}

.large_btn {
  & p {
    padding-right: 2.08vw !important;
    padding-left: 2.08vw !important;
  }
}


#Home_block_06 {
  display: none !important;
}

#load-more {
  border: unset !important;
  background-color: unset !important;
  outline: unset !important;

  &:hover {
    border: unset !important;
    background-color: unset !important;
    outline: unset !important;
  }
}

.loading-animation {
  display: none;
  text-align: center;
}

.loading-circle {
  border: 4px solid #ffffff;
  /* White border */
  border-top: 4px solid transparent;
  /* Transparent top border */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  /* Add a spinning animation */
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}