#Portfolio_block_01 {


    overflow: hidden;
    gap: 3.47vw;

    & .filter_container {
        width: fit-content;
        margin: 0 auto;
        background-color: #232a2c98;
        border-radius: 0.83vw;

        & .filter_elements {
            padding-right: 4.78vw;
            padding-left: 4.78vw;

            & * {
                color: $white-color;
                margin: unset !important;
                padding: unset !important;
            }

            & .wpc-filters-section {
                display: flex;
                gap: $s40-desktop;

                & .wpc-filter-header {
                    display: flex;

                    & .wpc-filter-title {
                        // font-size: $p14;
                    }
                }

                & ul {
                    display: flex;
                    flex-wrap: wrap;
                    // gap: $s20-desktop;

                    & a {
                        font-weight: $w-600;
                        // font-size: $p14 !important;
                        display: flex;
                        align-items: center;
                    }

                    & input[type=radio] {
                        display: none;
                    }

                    & .wpc-term-selected {
                        & a {
                            color: $bleu-color !important;
                        }
                    }

                    & li {
                        display: flex;
                        align-items: center;
                        gap: 20px;
                        // gap: $s20-desktop;

                        &::before {
                            content: "/";
                            font-weight: $w-300 !important;
                            font-size: 2.3vw;
                            // position: absolute;
                            // left: 0;
                        }

                        &:nth-of-type(1) {
                            &::before {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }

    & .mySwiper_portfolio {
        position: relative;
        width: 100%;

        & .swiper-slide {
            // height: 42.43vw;
            padding: 0 0 5vw 5vw;
            justify-content: flex-end;

            & .scroll_bar_item {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                align-items: center;
                gap: 40px;

                & p {
                    transform: rotate(-90deg);
                }

                & .scroll_item {
                    align-items: center;
                    position: relative;

                    & .base {
                        width: 10px;
                        height: 40px;
                        border-radius: 25px;
                        background-color: $white-color;
                        position: absolute;
                        left: 50%;
                        top: 0;
                        transform: translateX(-50%);
                        transition: all 0.3s;
                        animation: scroll 5s ease infinite;
                    }

                    @keyframes scroll {

                        0%,
                        100% {
                            transform: translateX(-50%) translateY(0);
                        }

                        50% {
                            transform: translateX(-50%) translateY(80px);
                        }
                    }

                    & .line {
                        width: 2px;
                        height: 120px;
                        background-color: $white-color;
                    }
                }
            }

            & .bk_item {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: -1;
                filter: brightness(0.5);
            }

        }

        & .swiper-pagination {
            position: absolute;
            right: 0 !important;
            top: 0 !important;
            left: unset !important;
            // width: 3.55vw !important;
            display: flex;
            flex-direction: column !important;
            justify-content: space-between;
            height: 100%;

            & span {
                color: $white-color;
                // font-size: $p18 !important;
                font-weight: $w-900;
            }
        }

        & .swiper-pagination-bullet {
            // height: 8.75vw;
            flex: 1;
            width: 100%;
            text-align: center;
            line-height: 20px;
            font-size: 12px;
            color: #000;
            opacity: 1;
            background: rgba(0, 0, 0, 0.2);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: unset !important;
            margin: unset !important;
        }

        & .swiper-pagination-bullet-active {
            color: #fff;
            background: #00000066 !important;
        }
    }

    // Desktop
    @media (min-width: 992px) {
        padding-top: 4.51vw;
        padding-bottom: 8.51vw;

        & .wpc-filters-section {
            gap: $s40-desktop;

            & .wpc-filter-header {

                & .wpc-filter-title {
                    font-size: $p14;
                }
            }

            & ul {
                gap: $s20-desktop;

                & a {
                    font-size: $p14 !important;
                }
            }
        }

        & .swiper-pagination {
            width: 3.55vw !important;

            & span {
                font-size: $p18 !important;
            }
        }

        & .swiper-slide {
            height: 43.75vw;
        }

        & .swiper-slide {
            & .p16 {
                max-width: 37.5vw;
            }
        }
    }

    //Tablet & Mobile =>
    @media (max-width: 992px) {
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: unset !important;
        padding-right: unset !important;

        & .wpc-filters-section {
            flex-direction: column;
        }

        & .wpc-filters-ul-list {
            gap: 20px;
        }

        & .swiper-slide {
            height: 60vh;
        }

        & .swiper-slide {
            & .p16 {
                max-width: 80vw;
            }
        }

        & .filter_container {
            width: 100% !important;
            min-height: 30px;
            display: flex;
            align-items: center;

            & .filter_elements {
                padding: 20px !important;

                & .wpc-filters-section ul li {
                    gap: 5px;
                }

                & p,
                a,
                label {
                    font-size: 16px !important;
                }
            }

            & .wpc-filter-title,
            .wpc-filters-section ul a {}
        }
    }

    //Tablet =>
    @media (min-width: 768px) and (max-width: 991px) {
        & .swiper-pagination {
            width: 8.55vw !important;

            & span {
                font-size: $p18-tablet !important;
            }
        }

    }

    //Mobile =>
    @media (max-width: 767px) {
        & .swiper-pagination {
            width: 8.55vw !important;

            & span {
                font-size: $p18-mobile !important;
            }
        }
    }
}